const env = process.env.NODE_ENV || 'production'

const config = {
  development: {},
  production: {
    host: 'https://staff.nextfree.com.ua',
    storageHost: 'https://storage.nextfree.com.ua',
    apiHost: 'https://api.nextfree.com.ua',
    gtm: {
      enabled: true,
      id: 'UA-154091628-3'
    }
  }
}

if (config[env] === undefined) {
  throw new Error(`Missing parameters for ${env} environment`)
}

export default config[env]