<!doctype html>
<html lang="ua">
<head>

    <title>Вхід{{ parameters.pageprefix }}</title>

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <meta name="og:image" content="">

    {% include './meta.html.twig' %}

</head>
<body class="bg-dark text-light">

{% include './nav.html.twig' %}

<section>
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
                <div class="space-y w-100 text-center">

                    <div class="mb-5">
                        <h2 class="h6 text-lowercase circle-left mb-3">логін</h2>

                        <h1 class="h2 font-weight-bolder mb-4">Вхід до NextFree</h1>
                        <p class="h5 mb-0 text-secondary">
                            Будь-ласка, вкажіть в ролі якого користувача Ви хочете увійти:
                        </p>

                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <a href="{{ parameters.customerHost }}/login"
                               class="btn btn-primary btn-block btn-lg mb-2">
                                Я покупець
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a href="{{ parameters.ownerHost }}/login"
                               class="btn btn-secondary btn-block btn-lg mb-2">
                                Я власник
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a href="{{ parameters.staffHost }}/login"
                               class="btn btn-default btn-block btn-lg mb-2">
                                Я співробітник
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

{% include './footer.html.twig' %}

</body>
</html>
