<nav class="navbar navbar-expand">
    <a class="navbar-brand py-2 border-0" href="/">
        <img src="/img/v2/logo.svg" alt="Logo" class="img-fluid"
             style="max-height: 40px">
    </a>

    <ul class="navbar-nav ml-auto text-center">

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link font-weight-normal small"
               href="/#faq">Як це працює?</a>
        </li>
        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link font-weight-normal small"
               href="/#partners">Партнери</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link font-weight-normal small"
               href="/#contacts">Контакти</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-secondary font-weight-bold" href="/login">Вхід</a>
        </li>
    </ul>
</nav>