<nav class="navbar navbar-expand">
    <a class="navbar-brand py-2 border-0" href="/">
        <img src="{{ parameters.storageHost }}/img/v2/logo.svg" alt="Logo"
             class="img-fluid logo">
    </a>

    <ul class="navbar-nav ml-auto text-center d-none d-md-flex">

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link font-weight-normal small"
               href="/#faq">Як це працює?</a>
        </li>
        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link font-weight-normal small"
               href="/#partners">Партнери</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link font-weight-normal small"
               href="/#contacts">Контакти</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-secondary font-weight-bold" href="/login">Вхід</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto text-right d-flex d-md-none">
        <i class="fa fa-bars fa-2x p-2" id="toggle-mobile-menu"></i>
    </ul>
</nav>

<div class="d-block d-md-none">
    {% include './sidebar.html.twig' %}
</div>