<!DOCTYPE html>
<html lang="ua">
<head>

    <title>Угода користувача NextFree{{ parameters.pageprefix }}</title>

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <meta name="og:image" content="">

    {% include './meta.html.twig' %}
</head>
<body class="bg-dark text-light">

{% include './nav.html.twig' %}

<div class="container my-5 py-2">
    <div class="row">
        <div class="col-12">
            {% include '../ua/privacy.html.twig' %}
        </div>
    </div>
</div>

{% include './footer.html.twig' %}

</body>
</html>