<div class="sidebar-container sidebar-hidden" id="mobile-menu">
    <nav class="sidebar bg-darker">

        <button class="sidebar-control p-3 text-truncate">
            Меню
        </button>

        <a class="btn-nav p-3 text-truncate"
           href="/#faq">Як це працює?</a>

        <a class="btn-nav p-3 text-truncate"
           href="/#partners">Партнери</a>

        <a class="btn-nav p-3 text-truncate"
           href="/#contacts">Контакти</a>

        <div class="btn-nav p-3 text-truncate">
            <a class="btn btn-secondary font-weight-bold" href="/login">Вхід</a>
        </div>
    </nav>
</div>