const env = process.env.NODE_ENV || 'production'

const config = {
  development: {},
  production: {
    host: 'https://admin.nextfree.com.ua',
    storageHost: 'https://storage.nextfree.com.ua',
    apiHost: 'https://api.nextfree.com.ua'
  }
}

if (config[env] === undefined) {
  throw new Error(`Missing parameters for ${env} environment`)
}

export default config[env]