customer/node_modules
api/node_modules
owner/node_modules

*.zip
.DS_Store
.idea

npm-debug.log*

customer/package-lock.json
api/package-lock.json
owner/package-lock.json

customer/src/parameters.js
owner/src/parameters.js
api/parameters.js

docker-compose.yml

api/env/Dockerfile
customer/env/Dockerfile
www/env/Dockerfile
owner/env/Dockerfile

.persistency

backups