customer/node_modules
api/node_modules
owner/node_modules
staff/node_modules
admin/node_modules
storage/node_modules
www/node_modules

admin/package-lock.json
staff/package-lock.json
customer/package-lock.json
api/package-lock.json
owner/package-lock.json
storage/package-lock.json
www/package-lock.json

admin/src/parameters.js
staff/src/parameters.js
customer/src/parameters.js
owner/src/parameters.js
api/parameters.js
storage/parameters.js
www/parameters.js

storage/public/u/*

docker-compose.yml

admin/env/Dockerfile
staff/env/Dockerfile
api/env/Dockerfile
customer/env/Dockerfile
www/env/Dockerfile
owner/env/Dockerfile
storage/env/Dockerfile

.persistency
*.zip
.DS_Store
.idea
npm-debug.log*
backups