:root {
    --dark-gray: rgba(255, 255, 255, 0.05);
    --danger: #F43D3B;
    --dark: #12181F;
    --darker: #0B1119;
    --light: #FFFFFF;
    --light-green: #E4F2EB;
    --light-gray: #d7d7d7;
    --primary: #35C178;
    --primary-dark: #278f59;
    --secondary: #CAD6E2;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.font-1 {
    font-family: 'Montserrat', sans-serif;
}

.font-2 {
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 768px) {

    .steps:before {
        content: '';
        position: absolute;
        top: 35px;
        left: 0;
        background-image: linear-gradient(to right, white 50%, transparent 0%);
        background-position: bottom;
        background-size: 15px 1px;
        background-repeat: repeat-x;
        width: 100%;
        height: 1px;
        transform: translateY(-50%);
    }
}

.step {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.condition-card {
    border: 2px solid var(--secondary);
    cursor: pointer;
    color: var(--light);
    background-color: var(--dark-gray);
}

.condition-card:hover {
    border-color: var(--light);
}

.condition-card.active {
    border-color: var(--primary);
}

.input-group-text {
    border: none;
    background-color: var(--dark-gray);
    color: var(--secondary);
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--dark);
    color: var(--secondary);
    opacity: .5;
}

.card-header,
.card-image,
.card-footer {
    background-color: var(--dark-gray);
}

.space-y {
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}

.space-b {
    padding-bottom: 5rem !important;
}

.border-radius-15 {
    border-radius: 15px;
}

.border-radius-25 {
    border-radius: 25px;
}

.border-primary {
    border-color: var(--primary);
}

.bg-danger {
    background-color: var(--danger);
}

.text-danger {
    color: var(--danger);
}

.bg-light-green {
    background-color: var(--light-green);
}

.text-light-green {
    color: var(--light-green);
}

.bg-secondary {
    background-color: var(--secondary);
}

.text-secondary {
    color: var(--secondary);
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.bg-darker {
    background-color: var(--darker);
}

.text-darker {
    color: var(--darker);
}

.bg-dark {
    background-color: var(--dark);
}

.text-dark {
    color: var(--dark);
}

.bg-dark-gray {
    background-color: var(--dark-gray);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.bg-light {
    background-color: var(--light);
}

.text-light {
    color: var(--light);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.text-light-gray {
    color: var(--light-gray);
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
    border: none;
}

.btn-primary:hover {
    color: var(--dark);
    background-color: var(--primary-dark);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: var(--light);
    background-color: var(--primary-dark);
    opacity: .75;
    cursor: not-allowed;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--primary);
    color: var(--light);
}


.btn-secondary {
    background-color: var(--light);
    color: var(--dark);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--light-gray);
    color: var(--dark);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    background-color: var(--light);
    color: var(--light-gray);
    opacity: .75;
    cursor: not-allowed;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    background-color: var(--light-gray);
    color: var(--dark);
}

.btn {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.btn-default {
    background-color: transparent;
    color: var(--light);
    border-color: var(--light);
}

.btn-default:hover {
    background-color: transparent;
    color: var(--light-gray);
    border-color: var(--light);
}

.btn-default.disabled,
.btn-default:disabled {
    background-color: transparent;
    color: var(--light-gray);
    border-color: var(--light-gray);
    opacity: .75;
    cursor: not-allowed;
}

.btn-default:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
    background-color: transparent;
    color: var(--light);
    border-color: var(--light);
}

.circle-left:before {
    content: ' ';
    display: inline-block;
    background-color: var(--primary);
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-right: 5px;
}

.form-control {
    padding: 0.75rem 1rem;
    font-size: 0.9375rem;
    color: var(--light-gray);
    background-color: var(--dark-gray);
    background-clip: padding-box;
    border: 1px solid var(--dark-gray);
    border-radius: 3px;
}

.form-control:focus {
    color: var(--light);
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);
}

.bg-primary.text-light:hover,
.bg-light-green.text-primary:hover {
    color: var(--dark)
}

.navbar .btn-link:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--primary);
}

a:not(.btn):hover {
    color: var(--primary);
}

.partner-card {
    display: block;
    text-align: center;
    max-height: 150px;
    overflow: hidden;
}


.btn-nav:hover,
.btn-nav.active,
.sidebar .sidebar-link:hover,
.sidebar .sidebar-link.active,
.partner-card:hover {
    text-decoration: none;
    border-bottom: 3px solid var(--primary);
}

.partner-logo {
    object-fit: contain;
}

nav .logo {
    max-height: 40px
}

footer .logo {
    max-height: 75px
}

.sidebar-container {
    z-index: 199;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.sidebar {
    min-width: 250px;
    z-index: 200;
    height: 100vh;
    overflow: auto;
    position: fixed;
}

.btn-nav,
.sidebar .sidebar-link {
    display: block;
    width: 100%;
    background-color: transparent;
    color: var(--light);
    border: none;
    text-align: left;
}

.sidebar-control {
    display: block;
    width: 100%;
    background-color: transparent;
    color: var(--light);
    border: none;
    text-align: left;
}

.sidebar .sidebar-link:active,
.sidebar .sidebar-link:hover,
.sidebar .sidebar-link:focus {
    outline: none;
}