<h1>{{ title }}</h1>

<p>Ви запросили відовлення паролю на сайті <a href="https://owner.nextfree.com.ua" rel="nofollow">owner.nextfree.com.ua</a>.</p>

<p>Для зміни паролю перейдіть за посиланням:</p>

<p>
    <a href="{{ link }}" rel="nofollow">Змінити пароль</a>
</p>
