<h1>{{ title }}</h1>

<p>Ви успішно зареєструвались на сайті <a href="https://owner.nextfree.com.ua" rel="nofollow">owner.nextfree.com.ua</a> як власник.</p>

<p>Для підтвердження свого емейлу перейдіть за посиланням:</p>

<p>
    <a href="{{ link }}" rel="nofollow">Підтвердити</a>
</p>
