<h1>{{ title }}</h1>

<p>Ви успішно зареєструвались на сайті <a href="https://staff.nextfree.com.ua" rel="nofollow">staff.nextfree.com.ua</a> як співробітник.</p>

<p>Для підтвердження свого профілю перейдіть за посиланням:</p>

<p>
    <a href="{{ link }}" rel="nofollow">Підтвердити</a>
</p>
