<h1>{{ title }}</h1>

<p>Ви успішно зареєструвались на сайті <a href="https://staff.nextfree.com.ua">staff.nextfree.com.ua</a> як співробітник.</p>

<p>Для підтвердження свого емейлу перейдіть за посиланням:</p>

<p>
    <a href="{{ link }}">Підтвердити</a>
</p>
