label.required:after {
    content: " *";
    color: red
}

main {
    min-height: 75vh;
}

footer {
    background-color: #1c1e22;
}

.qr-scanner-container video.has-result {
    border: 3px solid green;
}

.qr-scanner-container video.no-result {
    border: 3px solid white;
}
