label.required:after {
    content: " *";
    color: red
}

main {
    min-height: 75vh;
}

footer {
    background-color: #1c1e22;
}

input[type="checkbox"],
input[type="radio"] {
    width: 15px;
    height: 15px;
}