label.required:after {
     content: " *";
     color: red
 }

main {
    min-height: 75vh;
}

footer {
    background-color: #1c1e22;
}

.qr-scanner-container video {
    width: 50vw;
    height: auto;
}

.qr-container img {
    width: 50vw;
    height: auto;
}