label.required:after {
    content: " *";
    color: red
}

main {
    min-height: 75vh;
}

footer {
    background-color: #1c1e22;
}

.condition-card {
    border-width: 3px;
    cursor: pointer;
}

.condition-card:hover {
    background-color: #8e989f !important;
}

.qr-scanner-container,
.qr-scanner-overlay {
    position: absolute;
    left: 0;
}

.qr-scanner-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-area {
    width: 75vw;
    height: 75vw;
}

@media (min-width: 768px) {
    .qr-area {
        width: 50vw;
        height: 50vw;
    }
}

@media (min-width: 1440px) {
    .qr-area {
        width: 33vw;
        height: 33vw;
    }
}

.qr-area td {
    width: 33%;
    height: 33%;
    border-spacing: 0;
}

.qr-area.no-result .has-border {
    border-color: #b35252 !important;
    border-width: 5px !important;
}

.qr-area.has-result .has-border {
    border-color: #62c462 !important;
    border-width: 5px !important;
}

.qr-scanner-overlay,
.qr-scanner-container video {
    height: calc(100vh - 60px);
    width: 100vw;
}

.qr-scanner-container {
    z-index: 95;
}

.qr-scanner-overlay {
    z-index: 100;
}

.qr-toolbar.no-result {
    opacity: 0.5;
    bottom: -15%;
    transition: opacity .3s, bottom .3s;
}

.qr-toolbar:hover,
.qr-toolbar.has-result {
    opacity: 1;
    bottom: 0;
    transition: opacity .3s, bottom .3s;
}

.company-card img,
.staff-card img,
.store-card img {
    max-height: 150px;
}

.company-card .card-image,
.staff-card .card-image,
.store-card .card-image {
    text-align: center;
}