const env = process.env.NODE_ENV || 'production'

const config = {
  development: {},
  production: {
    pageprefix: ' - nextfree.com.ua',
    host: 'https://nextfree.com.ua',
    apiHost: 'https://api.nextfree.com.ua',
    indexEmail: 'nextfree.adm@gmail.com',
    gtm: {
      enabled: true,
      code: 'UA-154091628-1'
    }
  }
}

if (config[env] === undefined) {
  throw `Missing parameters for ${env} environment`
}

module.exports = config[env]