<footer class="w-100 bg-black text-light">
    <div class="container">
        <div class="row py-5">
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Ресурси</h5>
                <ul>
                    <li><a href="/v1/privacy">Умови користування</a></li>
                    <li><a href="/sitemap.xml">Карта сайту</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Контакти</h5>
                <ul>
                    <li><a href="mailto:{{ parameters.email }}">Зворотній зв'язок</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 text-right d-none d-md-block">
                <a href="/v1/">
                    <img src="/img/nextfree-logo.png" alt="" class="img-fluid"
                         style="max-height: 100px">
                </a>
            </div>
        </div>
        <div class="row text-gray text-center">
            <div class="col-12">
                <div class="red-line"></div>

                <p class="my-3">{{ moment().format('YYYY') }} NextFree Україна. Всі права захищено</p>
            </div>
        </div>
    </div>

</footer>