<nav class="navbar navbar-expand bg-dark-gray">
    <a class="navbar-brand py-0 border-0" href="/v1/">
        <img src="{{ parameters.storageHost }}/img/nextfree-logo-sm.jpg" alt="Logo" class="img-fluid"
             style="max-height: 60px">
    </a>

    <ul class="navbar-nav ml-auto text-center">

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/v1/#partners">Партнери</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/v1/#contacts">Контакти</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-outline-light"
               href="/v1/login">Вхід</a>
        </li>
    </ul>
</nav>