<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>Угода користувача NextFree - nextfree.com.ua</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="/css/slate/bootstrap.min.css?v=1">
    <link rel="stylesheet" href="/css/style.css?v=2">

    <meta name="application-name" content="NextFree"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png"/>

    {% if parameters.gtm.enabled == true %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ parameters.gtm.code }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ parameters.gtm.code }}');
        </script>
    {% endif %}
</head>
<body class="body-dark">

{% include './nav.html.twig' %}

<div class="container my-5 py-2 text-dark bg-light font-default">
    <div class="row">
        <div class="col-12" style="min-height: 75vh">
            {% include '../ua/privacy.html.twig' %}
        </div>
    </div>
</div>

{% include './footer.html.twig' %}

</body>
</html>