<!DOCTYPE html>
<html lang="ua">
<head>

    <title>Угода користувача NextFree - nextfree.com.ua</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    {% include './meta.html.twig' %}
</head>
<body class="body-dark">

{% include './nav.html.twig' %}

<div class="container my-5 py-2 text-dark bg-light font-default">
    <div class="row">
        <div class="col-12" style="min-height: 75vh">
            {% include '../ua/privacy.html.twig' %}
        </div>
    </div>
</div>

{% include './footer.html.twig' %}

</body>
</html>