

.qr-scanner-container,
.qr-scanner-overlay {
    position: absolute;
    left: 0;
}

.qr-scanner-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-area {
    width: 75vw;
    height: 75vw;
}

@media (min-width: 768px) {
    .qr-area {
        width: 50vw;
        height: 50vw;
    }
}

@media (min-width: 1440px) {
    .qr-area {
        width: 33vw;
        height: 33vw;
    }
}

.qr-area td {
    width: 33%;
    height: 33%;
    border-spacing: 0;
}

.qr-area.no-result .has-border {
    border-color: #b35252 !important;
    border-width: 5px !important;
}

.qr-area.has-result .has-border {
    border-color: #62c462 !important;
    border-width: 5px !important;
}

.qr-scanner-overlay,
.qr-scanner-container video {
    height: calc(100vh - 60px);
    width: 100vw;
}

.qr-scanner-container video {
    object-fit: cover;
}

.qr-scanner-container {
    z-index: 95;
}

.qr-scanner-overlay {
    z-index: 100;
}