label.required:after {
    content: " *";
    color: red
}

main {
    min-height: 75vh;
}

footer {
    background-color: #1c1e22;
}

.condition-card {
    border-width: 3px;
    cursor: pointer;
}

.condition-card:hover {
    background-color: #8e989f !important;
}

.company-card img,
.staff-card img,
.store-card img {
    max-height: 150px;
}

.company-card .card-image,
.staff-card .card-image,
.store-card .card-image {
    text-align: center;
}