label.required:after {
    content: " *";
    color: red
}

main {
    min-height: 75vh;
}

footer {
    background-color: #1c1e22;
}

.condition-card {
    border-width: 3px;
    cursor: pointer;
}

.condition-card:hover {
    background-color: #8e989f !important;
}

.store-card img {
    max-height: 150px;
}

.store-card .card-image {
    text-align: center;
}

input[type="checkbox"],
input[type="radio"] {
    width: 15px;
    height: 15px;
}