<!doctype html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Вхід - nextfree.com.ua</title>
    <meta name="robots" content="noindex, nofollow">
    <!--<meta name="robots" content="index, follow" />-->

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <meta name="og:image" content="">

    <link rel="stylesheet" href="/css/slate/bootstrap.min.css?v=1">
    <link rel="stylesheet" href="/css/style.css?v=1">

    <meta name="application-name" content="NextFree"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png"/>

    {% if parameters.gtm.enabled %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ parameters.gtm.code }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ parameters.gtm.code }}');
        </script>
    {% endif %}

</head>
<body class="body-dark">

<nav class="navbar navbar-expand bg-dark-gray">
    <a class="navbar-brand py-0 border-0" href="/">
        <img src="/img/nextfree-logo-sm.jpg" alt="Logo" class="img-fluid"
             style="max-height: 60px">
    </a>

    <ul class="navbar-nav ml-auto text-center">

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/#partners">Партнери</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/#contacts">Контакти</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-outline-light"
               href="/login">Вхід</a>
        </li>
    </ul>
</nav>

<section>
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto d-flex align-items-center"
                 style="min-height: 75vh">
                <div class="py-5 px-0 w-100 text-center text-light">

                    <h1>Вхід до NextFree</h1>
                    <h2 class="h5 mb-3">Будь-ласка, вкажіть в ролі якого користувача Ви хочете увійти:</h2>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <a href="https://customer.nextfree.com.ua/login"
                               class="btn btn-warning btn-block btn-lg mb-2">
                                Я покупець
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a href="https://staff.nextfree.com.ua/login"
                               class="btn btn-light btn-block btn-lg mb-2">
                                Я співробітник
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a href="https://owner.nextfree.com.ua/login"
                               class="btn btn-success btn-block btn-lg mb-2">
                                Я власник
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<footer class="w-100 bg-black text-light">
    <div class="container">
        <div class="row py-5">
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Ресурси</h5>
                <ul>
                    <li><a href="/privacy">Умови користування</a></li>
                    <li><a href="/sitemap.xml">Карта сайту</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Контакти</h5>
                <ul>
                    <li><a href="mailto:{{ parameters.indexEmail }}">Зворотній зв'язок</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 text-right d-none d-md-block">
                <a href="/">
                    <img src="/img/nextfree-logo.png" alt="" class="img-fluid"
                         style="max-height: 100px">
                </a>
            </div>
        </div>
        <div class="row text-gray text-center">
            <div class="col-12">
                <div class="red-line"></div>

                <p class="my-3">{{ moment().format('YYYY') }} NextFree Україна. Всі права захищено</p>
            </div>
        </div>
    </div>

</footer>

</body>
</html>
