<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>Угода користувача NextFree - nextfree.com.ua</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="/css/slate/bootstrap.min.css?v=1">
    <link rel="stylesheet" href="/css/style.css?v=1">

    <meta name="application-name" content="NextFree"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png"/>

    {% if parameters.gtm.enabled %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ parameters.gtm.code }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ parameters.gtm.code }}');
        </script>
    {% endif %}
</head>
<body class="body-dark">

<nav class="navbar navbar-expand bg-dark-gray">
    <a class="navbar-brand py-0 border-0" href="/">
        <img src="/img/nextfree-logo-sm.jpg" alt="Logo" class="img-fluid"
             style="max-height: 60px">
    </a>

    <ul class="navbar-nav ml-auto text-center">

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/#partners">Партнери</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-link"
               href="/#contacts">Контакти</a>
        </li>

        <li class="nav-item mb-1 mb-lg-0">
            <a class="btn btn-outline-light"
               href="/login">Вхід</a>
        </li>
    </ul>
</nav>

<div class="container my-5 py-2 text-dark bg-light font-default">
    <div class="row">
        <div class="col-12" style="min-height: 75vh">

            <h1>Угода користувача</h1>
            <p>Увага! Наполегливо радимо Вам прочитати текст цієї Угоди! Використання Сайту можливо тільки на умовах цієї Угоди. Якщо Ви не погоджуєтеся з умовами цієї Угоди в повному обсязі, Ви не можете використовувати Сайт nextfree.com.ua.
            </p><p>1. Визначення та терміни
            </p><p>1.1. Сайт - це сукупність пов'язаних між собою веб-сторінок, розміщених в мережі Інтернет доступних за унікальними адресами (URL): nextfree.com.ua, owner.nextfree.com.ua, staff.nextfree.com.ua, customer.nextfree.com.ua.
            </p><p>1.2. Угода користувача(далі по тексту Угода) - офіційна пропозиція адміністрації Сайту, на адресу фізичних або юридичних осіб, про умови взаємодії з Сайтом, є договором-офертою між адміністрацією Сайту та Користувачем Сайту.
            </p><p>1.3. Оферта - формальна пропозиція деякої особи (оферента) певній особі (акцептанта), обмеженому або необмеженому колу осіб укласти ( Угоду (договір) із зазначенням всіх необхідних для цього умов.
            </p><p>1.4. Відвідувач сайту - будь-яка особа, яка перейшла на Сайт але не проходила процедуру реєстрації на Сайті.
            </p><p>1.5. Користувач - будь-яка особа, яка пройшла процедуру реєстрації на Сайті, прийняла всі умови цієї Угоди і має Обліковий запис на Сайті та здійснює доступ до Сайту за допомогою мережі Інтернет.
            </p><p>1.6. Адміністрація Сайту - власники Сайту або їх уповноважені представники, що здійснюють керування Сайтом і взаємодіють з Користувачами, а також здійснюють інші дії, пов'язані з використанням Сайту.
            </p><p>1.7. Інформація - будь-які відомості, дані, контент, розміщені на Сайті.
            </p><p>1.8. Обліковий запис (аккаунт) - запис, що зберігається на Сайті, та містить відомості, необхідні для ідентифікації Користувача при наданні доступу до Сайту, інформацію для Авторизації і обліку на Сайті. До такого запису, в тому числі відносяться ім'я, прізвище, пароль (в неявному вигляді) Користувача (або інші аналогічні засоби аутентифікації). 
            </p><p>2. Умови Угоди
            </p><p>2.1. Дана Угода регулює відносини між адміністрацією Cайту, і будь-якою особою, яка взаємодіє з Сайтом.
            </p><p>2.2. Ця Угода, є офіційною пропозицією адміністрації Сайту, на адресу фізичних або юридичних осіб, які приймають цю Угоду, щодо користування Сайтом і розміщення Користувачами інформації, на умовах цієї Угоди.
            </p><p>2.3. Адміністрація Сайту та Користувач разом іменуються - «Сторони», а окремо - «Сторона».
            </p><p>2.4. Ця Угода відповідно до статті 633 Цивільного кодексу України, є договором-офертою, адресованою будь-яким особам які відвідують Сайт, або використовують його функціонал, і може бути прийнято особою не інакше як шляхом приєднання до Угоди в цілому.
            </p><p>2.5. Користувач приймає умови даної Угоди за допомогою таких дій - натисканням на кнопку, проставленням галочки в чек-бокс, на сторінці реєстрації нового Користувача Сайту, фактичним використанням Сайту та його функціоналу. У цьому випадку Ви підтверджуєте, що погоджуєтеся з тим, що ми будемо розглядати факт використання функціоналу Сайту як прийняття умов даної Угоди. Продовжуючи взаємодію з Сайтом - Ви підтверджуєте факт прийняття всіх умов даної Угоди. Якщо ви не згодні з умовами даної Угоди – залиште Сайт і припиніть будь-яку взаємодію з Сайтом.
            </p><p>2.6. Реєструючись на Сайті, та вводячи будь які власні дані, Користувач підтверджує, що уважно прочитав умови даної Угоди та погоджується з ними в цілому.
            </p><p>2.7. Кожна Сторона гарантує іншій Стороні, що володіє необхідною право- і дієздатністю, а рівно всіма правами і повноваженнями, необхідними і достатніми для укладання та виконання умов Угоди.
            </p><p>3. Предмет Угоди
            </p><p>3.1.  Предметом Угоди є надання Користувачем Сайту, підтвердження про те, що він ознайомився з текстом даної Угоди та приймає всі умови даної Угоди. 
            </p><p>4. Користування Сайтом
            </p><p>4.1. Користуючись Сайтом та його функціоналом - Ви приймаєте всі умови цієї Угоди. Якщо ви не згодні зі змістом зазначених документів, покиньте Сайт і припиніть будь-яку взаємодію з ним.
            </p><p>4.2. Якщо Ви зареєструвалися на сайті, та використовуєте функціонал Сайту, ми можемо надсилати Вам повідомлення, рекламні розсилки, інформаційні повідомлення та інші матеріали. В окремих випадках, Ви можете, при необхідності, відмовитися від їх отримання, написавши для цього листа з відповідною заявою, в довільній формі, на електронну поштову адресу служби підтримки Сайту - nextfree.adm@gmail.com.
            </p><p>4.3. Ви повинні дотримуватися всіх умов, з якими вам буде запропоновано ознайомитися при взаємодії з Сайтом. Ви погоджуєтеся з тим, що не будете брати участь в діяльності, що заважає роботі або порушує функціонування сайту, або пов'язаних з ними серверів і мереж. Ви приймаєте на себе повну відповідальність за будь-які порушення Ваших зобов'язань, обумовлених в Умовах, а також за всі наслідки цих порушень.
            </p><p>5. Реєстрація та безпека Облікового запису
            </p><p>5.1. Реєстрація Користувача на Сайті здійснюється шляхом заповнення відповідної реєстраційної форми. При реєстрації на Сайті, Користувач вводить ім'я та прізвище Користувача, адресу електронної пошти та пароль для входу на Сайт, та інші обов’язкові для реєстрації дані, якщо це зазначено на формі реєстрації.
            </p><p>5.2. Користувач зобов'язується відобразити в реєстраційній формі достовірну, повну і точну інформацію про себе і підтримувати цю інформацію в актуальному стані.
            </p><p>5.3. Користувач згоден з тим, що він самостійно несе відповідальність за збереження конфіденційності логіна і пароля, пов'язаних з його особистим обліковим записом, що використовується ним для доступу до Сайту. Також Користувач згоден з тим, що він несе особисту відповідальність перед адміністрацією Сайту, за всі дії, які вчинені при використанні його (Користувача) Облікового запису.
            </p><p>5.4. У разі, якщо Користувачу стане відомо про будь-яке несанкціоноване використання його пароля, логіна або інших даних особистого Облікового запису, Користувач зобов'язується негайно повідомити про це адміністрацію Сайту, виславши відповідне повідомлення на електронну поштову адресу служби підтримки Сайту - nextfree.adm@gmail.com
            </p><p>5.5. Користувач зобов'язується не розміщувати (а в разі розміщення - самостійно нести відповідальність в повному обсязі) на Сайті - ПІБ, адреси, електронну пошту, і іншу особисту інформацію інших користувачів або будь-яких третіх осіб без їх особистої згоди на такі дії, окрім випадку вводу адреси електронної пошти нового Користувача для запрошення до співпраці.
            </p><p>6. Права та обов'язки сторін
            </p><p>6.1. Права і обов'язки Адміністрації:
            </p><p>6.2. Адміністрація зобов'язується надати Користувачеві можливість цілодобового доступу на проект nextfree.com.ua, а також до аккаунту, якщо він передбачений в програмі, яка була придбана.
            </p><p>6.3. Розміщується Інформація (за винятком коментарів) підлягає перевірці та модерації Адміністрацією, після чого Адміністрацією приймається рішення або на розміщення Інформації, або на відмову в її розміщенні.
            </p><p>6.4. Адміністрація зобов'язується інформувати користувачів про зміни (доповнення) умов даної Угоди, публікуючи нову редакцію Угоди, в мережі Інтернет за адресою: https://nextfree.com.ua/privacy
            </p><p>6.5. Всі претензії щодо достовірності та правомочності інформації, а також претензії щодо авторських прав на інформацію пред'являються безпосередньо Користувачу, який розмістив цю інформацію.
            </p><p>6.6. Адміністрація має право заблокувати аккаунт Користувача в разі порушення ним правил цієї Угоди.
            </p><p>7. Права та обов'язки Користувача
            </p><p>7.1. Користувач зобов'язується дотримуватися правил цієї Угоди користувача.
            </p><p>7.2. Користувач зобов'язується надавати достовірну інформацію про себе в процесі створення/реєстрації Облікового запису (аккаунту).
            </p><p>7.3. Користувач зобов'язується не відтворювати, не повторювати і не копіювати, не продавати і не перепродавати, а також не використовувати для будь-яких комерційних цілей, будь-якої частини Сайту, крім тих випадків, коли такий дозвіл письмово дано Користувачеві адміністрацією Сайту.
            </p><p>7.4. Користувач має право припинити користуватися Сайтом в будь-який момент. Користувач має право в будь-який момент повідомити про бажання видалити свій Обліковий запис, подавши про це письмовий запит на електронну поштову адресу служби підтримки Сайту - nextfree.adm@gmail.com. Видалення аккаунту Користувача можливе у випадку якщо дана дія не впливатиме на коректне функціонування Сайту
            </p><p>8. Умови політики конфіденційності
            </p><p>8.1. Розміщуючи персональні, інші дані і відомості на Сайті, Відвідувач/Користувач Сайту надає адміністрації Сайту або її уповноваженим представникам, згоду  отримувати, збирати, систематизувати, зберігати, уточнювати (оновлювати, змінювати), використовувати та іншим чином обробляти (в тому числі в електронному вигляді) персональні дані Користувача з метою належного надання послуг, доступних на сайті. Під належним наданням послуг, адміністрація Сайту передбачає використання введених Користувачем даних для ідентифікації користувача в базі даних, зберігання всієї інформації, доданої користувачем при використанні Сайту, передачі персональних даних Користувача іншим Користувачам Сайту для можливості використовувати функціонал Сайту в повному обсязі.
            </p><p>8.2. Реєструючись на Сайті, Відвідувач/Користувач також підтверджуєте, що ознайомився з переліком своїх прав як суб’єкта даних згідно зі статтею 8 Закону України «Про захист персональних даних».
            </p><p>8.3. Файли cookie - коли ви заходите на Сайт, на ваш комп'ютер або інший пристрій, відправляється один або декілька файлів cookie. Файли cookie використовуються для того, щоб підвищувати якість послуг, що надаються: зберігати налаштування користувача.
            </p><p>8.4. Інформація про відвідання - при доступі на Сайт наші сервери автоматично записують певну інформацію. Ці журнали сервера можуть містити таку інформацію, як веб-запит, IP-адресу, тип та мову браузера, дату та час запиту.
            </p><p>8.5. Адміністрація Сайту залишає за собою можливість обробляти отриману особисту інформацію на серверах в Україні та в інших країнах. У деяких випадках особиста інформація користувачів обробляється за межами країни користувача.
            </p><p>8.6. Користувач погоджується на передачу персональних, та інших введених даних, іншим Користувачам Сайту, в тому числі для цілей їх обробки, для забезпечення функціонування Сайту, реалізації партнерських та інших програм.
            </p><p>8.7. Доступ до особистої інформації іншим особам, які не є Користувачами Сайту, може бути надано лише у випадках передбачених чинним законодавством України або за таких обставин: 
            </p><p>8.8. У адміністрації Сайту є на це ваш дозвіл. Для передачі будь-якої конфіденційної інформації нам потрібна ваша явна згода.
            </p><p>8.9.  У адміністрації Сайту є достатні підстави вважати, що доступ, використання, збереження або розкриття такої інформації необхідні для: 
            </p><p>8.9.1. дотримання законодавства України, у тому числі надання інформації на вимогу фізичних та юридичних осіб, установ, організацій будь-якої форми власності або державних органів, які мають право на отримання такої інформації згідно із законодавством України;
            </p><p>8.9.2. розслідування потенційних порушень Умов використання Сайту, що передбачає надання інформації про вас у відповідь на належно оформлений адвокатський запит з інформацією про порушення;
            </p><p>8.9.3. виявлення і запобігання шахрайським діям, а також вирішення проблем безпеки та усунення технічних несправностей;
            </p><p>8.9.4. захисту від безпосередньої загрози правам, інтелектуальному майну або безпеці адміністрації Сайту, його Користувачам або громадськості, в межах законодавства України.
            </p><p> 8.10. Адміністрація Сайту вживає всіх необхідних заходів для захисту персональних даних Користувачів Сайту від несанкціонованого доступу, зміни, розкриття або знищення. До цих заходів належать, зокрема, внутрішня перевірка процесів збору, зберігання і обробки даних та заходів безпеки, включаючи відповідне шифрування та заходи щодо забезпечення фізичної безпеки даних для запобігання неавторизованого доступу.
            </p><p>8.11. Після успішної авторизації на Сайті – Користувач має доступ до власних особистих даних та може виправити їх, якщо вони невірні, чи за запитом користувача, вилучити їх із серверів Сайту, якщо їх зберігання не вимагається чинним законодавством України або не є необхідними для належного використання функціоналу Сайту іншими Користувачами. Видалення облікового запису Користувача можливе за письмовою заявою Користувача, надіслану на електронну поштову адресу служби підтримки Сайту - nextfree.adm@gmail.com.
            </p><p>8.12. Ця політика конфіденційності може час від часу змінюватися. Зміни, що вносяться в політику конфіденційності, будуть опубліковані на цій сторінці.
            </p><p>8.13. Мета обробки персональних даних Користувача полягає в наданні останньому, можливості використання функціоналу Сайту, проведенні рекламних кампаній, надання таргетованої реклами, проведення статистичних досліджень і аналізу отриманих статистичних даних, здійсненні інших дій, описаних в Угоді.
            </p><p>8.14. Обробка персональних даних Користувача здійснюється в термін з моменту реєстрації Користувача і до моменту видалення його облікового запису.
            </p><p>8.15. Користувач дає згоду на те, що адміністрація Сайту, буде направляти Користувачу кореспонденцію, на вказану ним адресу електронної пошти та/або номер телефону, з інформацією, що є прямим наслідком взаємодії з Сайтом (підтвердження/зміна паролю, сповіщення про отримання бонусу, тощо), або, але не обмежуючись - про  зміни в роботі функціоналу Сайту, проведені адміністрацією Сайту і їх партнерами рекламних акцій, іншу інформацію.
            </p><p>9. Відповідальність сторін
            </p><p>9.1. Адміністрація Cайту гарантує, що володіє веб-сайтом nextfree.com.ua, та всіма його доменами нижнього рівня (owner.nextfree.com.ua, staff.nextfree.com.ua, customer.nextfree.com.ua) на законних підставах, має право використовувати їх відповідно до умов цієї Угоди, та має всі необхідні юридичні права на розміщення інформаційних матеріалів на Сайті.
            </p><p>9.2. Адміністрація, за допомогою модерації, може стежити за коректністю розміщеної Користувачем Інформації, але при цьому не несе відповідальності за дотримання вимог законодавства, зазначених у п. 9.3. цієї Угоди.
            </p><p>9.3. Користувач несе повну відповідальність за дотримання вимог законодавства України, в тому числі законодавства про рекламу, про захист авторських і суміжних прав, про охорону товарних знаків і знаків обслуговування, але не обмежуючись перерахованим, включаючи повну відповідальність за зміст і форму матеріалів які він розміщує на Сайті.
            </p><p>9.4. Користувач визнає, що відповідальність за будь-яку інформацію (в тому числі, але не обмежуючись: файли з даними, тексти, зображення, тощо), яку він розмістив на Сайті, несе особа, яка надала таку інформацію тобто Користувач.
            </p><p>9.5. Користувач погоджується, що вся інформація, надана йому при взаємодії з Сайтом - може бути об'єктом інтелектуальної власності, права на який захищені і належать іншим Користувачам, партнерам або рекламодавцям, які розміщують таку інформацію на Сайті. Користувач не має права вносити зміни, передавати в оренду, передавати на умовах позики, продавати, розповсюджувати або створювати похідні роботи на основі такого змісту (повністю або в частині), за винятком випадків, коли такі дії були письмово прямо дозволені власниками такого змісту відповідно до умов окремої угоди.
            </p><p>9.6. У відношенні текстових матеріалів (статей, публікацій, які перебувають у вільному публічному доступі на Сайті) допускається їх поширення за умови, що буде дано посилання на ПІБ автора, який написав цей текстовий матеріал, та активне посилання на перше джерело.
            </p><p>9.7. Адміністрація Сайту не несе відповідальності перед Користувачем за будь-який збиток або збиток, понесений Користувачем в результаті видалення, збою або неможливості збереження будь-яких даних введених Користувачем, та інших комунікаційних даних, що містяться на Сайті або переданих через такий Сайт.
            </p><p>9.8. Адміністрація Сайту не несе відповідальності за будь-які прямі або непрямі збитки, які сталися через:
            </p><p>9.8.1. використання або неможливості використання сайту або окремих сервісів
            </p><p>9.8.2. несанкціонованого доступу до комунікацій Користувача
            </p><p>9.8.3. заяви або поведінку будь-якої третьої особи на сайті.
            </p><p>9.9. При будь-яких обставинах, відповідальність адміністрації Сайту, не може перевищувати 1 000 (одної тисяч) гривень і покладається на неї, при наявності в її діях доведеної вини не правомірних дій згідно чинного законодавства України.
            </p><p>9.10. Положення цієї Угоди не виключають і не обмежують відповідальність адміністрації Сайту за заподіяння збитків в тій мірі, в якій така відповідальність не може бути виключена або її дія не може бути обмежене чинним законодавством України.
            </p><p>9.11. Адміністрація Сайту, не несе відповідальність за будь-яку інформацію, розміщену користувачем на Сайті, включаючи, але не обмежуючись, інформацію, захищену авторським правом, без прямої згоди власника авторського права.
            </p><p>10. Порядок вирішення спорів
            </p><p>10.1. У разі виникнення суперечок, пов'язаних з виконанням цієї Угоди, Сторонами буде застосований досудовий порядок врегулювання спору. У разі неможливості вирішення спору шляхом переговорів, він буде переданий Сторонами на розгляд до суду.
            </p><p>11. Зміна Умов Угоди
            </p><p>11.1. Зміни та доповнення до даній Угоді, вступають в силу з моменту їх оприлюднення шляхом розміщення в мережі Інтернет за адресою https://nextfree.com.ua/privacy
            </p><p>11.2. Користувач розуміє і згоден з тим, що, якщо він користується Сайтом після дати внесення відповідних змін до цієї Угоди, це буде розцінюватися як факт прийняття Користувачем нової Угоди.
            </p><p>11.3. Користувач, вправі відмовитися від прийняття змін і доповнень Угоди, розроблених Адміністрацією Сайту, що означає відмову Користувача від використання Сайту.
            </p><p>12. Заключні умови
            </p><p>12.1. З усіх питань, претензій, пропозицій, зауважень, тощо, Користувач може звертатися на електронну поштову адресу служби підтримки Сайту - nextfree.adm@gmail.com
            </p><p>12.2. Якщо з тих чи інших причин одна або декілька норм цієї Угоди є недійсною або не мають юридичної сили, це не впливає на дійсність або застосовність інших норм.
            </p><p>12.3. До цієї угоди застосовується законодавство України.
            </p><p>12.4. Ніщо в Угоді не може розумітися як встановлення між Користувачем і Адміністрацією Сайту агентських відносин, відносин товариства, відносин по спільній діяльності, відносин особистого найму, або якихось інших відносин, прямо не передбачених Угодою.
            </p><p>12.5. Погоджуючись з умовами цієї Угоди, Користувач (або представник Користувача, в т.ч. фізична особа, належним чином уповноважена укласти Договір від імені Користувача) підтверджує і гарантує Адміністрації Сайту, що:
            </p><p>12.5.1. Користувач вкаже достовірну інформацію про себе, в тому числі при створенні облікового запису (аккаунту);
            </p><p>12.5.2. повністю ознайомився з умовами Угоди-оферти;
            </p><p>12.5.3. повністю розуміє предмет Угоди-оферти;
            </p><p>12.5.4. повністю усвідомлює значення і наслідки своїх дій щодо укладення та виконання умов цієї Угоди;
            </p><p>12.6. Угода-оферта вступає в силу з моменту отримання погодження Користувача з умовами цього Договору (в момент проставлення галочок в чек-боксах при проходженні процедури реєстраціі Облікового запису), термін дії якого не обмежений цією Угодою-офертою.
            </p><p>З повагою, Адміністрація Сайту
            </p>
        </div>
    </div>
</div>

<footer class="w-100 bg-black text-light">
    <div class="container">
        <div class="row py-5">
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Ресурси</h5>
                <ul>
                    <li><a href="/privacy">Умови користування</a></li>
                    <li><a href="/sitemap.xml">Карта сайту</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5 class="mb-3">Контакти</h5>
                <ul>
                    <li><a href="mailto:{{ parameters.indexEmail }}">Зворотній зв'язок</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 text-right d-none d-md-block">
                <a href="/">
                    <img src="/img/nextfree-logo.png" alt="" class="img-fluid"
                         style="max-height: 100px">
                </a>
            </div>
        </div>
        <div class="row text-gray text-center">
            <div class="col-12">
                <div class="red-line"></div>

                <p class="my-3">{{ moment().format('YYYY') }} NextFree Україна. Всі права захищено</p>
            </div>
        </div>
    </div>

</footer>

</body>
</html>