const env = process.env.NODE_ENV || 'production'

const config = {
  development: {
    apiHost: 'http://0.0.0.0:7601',
  },
  production: {
    host: 'https://customer.nextfree.com.ua',
    apiHost: 'https://api.nextfree.com.ua',
  }
}

if (config[env] === undefined) {
  throw new Error(`Missing parameters for ${env} environment`)
}

export default config[env]