
export default {
  host: process.env.REACT_APP_HOST,
  storageHost: process.env.REACT_APP_STORAGE_HOST,
  apiHost: process.env.REACT_APP_API_HOST,
  customerHost: process.env.REACT_APP_CUSTOMER_HOST,
  staffHost: process.env.REACT_APP_STAFF_HOST,
  ownerHost: process.env.REACT_APP_OWNER_HOST,
  wwwHost: process.env.REACT_APP_WWW_HOST,
  email: 'nextfree.adm@gmail.com',
  viber: 'viber://chat/?number=380986159269',
  telegram: 'https://t.me/nextfree_ua',
  messenger: null, //'https://t.me/test',
  fbLink: 'https://www.facebook.com/nextfree.ua',
  gtm: {
    enabled: true,
    id: 'UA-154091628-4'
  }
}