const env = process.env.NODE_ENV || 'production'

const config = {
  development: {
    host: 'https://customer.nextfree.com.ua',
    apiHost: 'http://0.0.0.0:7601',
    gtm: {
      enabled: false,
      id: 'UA-154091628-4'
    }
  },
  production: {
    host: 'https://customer.nextfree.com.ua',
    apiHost: 'https://api.nextfree.com.ua',
    gtm: {
      enabled: true,
      id: 'UA-154091628-4'
    }
  }
}

if (config[env] === undefined) {
  throw new Error(`Missing parameters for ${env} environment`)
}

export default config[env]