const env = process.env.NODE_ENV || 'production'

const config = {
  development: {
    port: 80,
    host: 'http://0.0.0.0:8080',
    mongoHost: 'mongodb://db/nextfree',
    secret: '****',
  },
  production: {
    port: 80,
    host: 'http://api.nextfree.com.ua',
    mongoHost: 'mongodb://db/nextfree',
    secret: '****',
  },
  test: {
    port: 80,
    host: 'http://api',
    mongoHost: 'mongodb://db/nextfree-test',
    secret: '****',
  }
}

if (config[env] === undefined) {
  throw `Missing parameters for ${env} environment`
}

module.exports = config[env]