const env = process.env.NODE_ENV || 'production'

const config = {
  development: {
    port: 80,
    host: 'http://192.168.1.105:8080',
    mongoHost: 'mongodb://db/nextfree',
    secret: '****',
    gmail: {
      user: '****',
      pass: '****',
    },
  },
  production: {
    port: 80,
    host: 'https://api.nextfree.com.ua',
    mongoHost: 'mongodb://db/nextfree',
    secret: '****',
    gmail: {
      user: '****',
      pass: '****',
    },
  },
  test: {
    port: 80,
    host: 'https://api',
    mongoHost: 'mongodb://db/nextfree-test',
    secret: '****',
    gmail: {
      user: '****',
      pass: '****',
    },
  }
}

if (config[env] === undefined) {
  throw `Missing parameters for ${env} environment`
}

module.exports = config[env]